:root{
  --primary-color: #212640;
  --secondary-color: #AEB1F4;
  --text-color: #fff;
  --accent-color: #636AF2;
  --green-color: #42b983;
  --green-color-hover: #5ec396;
  --grey-color: #808080;

  --header-height:50px;
  --form-height:50px;
  --input-height:25px;
  --button-height:30px;
  --primary-font-size:30px;
  --secondary-font-size:20px;

  --space-m:15px;
  --space-l:30px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
}