<template>
  <div class="home">
    <HeaderBar/>
    <div class="container">
      <TodoFormCreation @emitTask="addTask($event)"/>
      <TodoList/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, provide } from 'vue'
import HeaderBar from '@/components/HeaderBar.vue'
import TodoFormCreation from '@/components/TodoFormCreation.vue'
import TodoList from '@/components/TodoList.vue'
import { Task } from '@/models/Task'
export default defineComponent({
  name: 'Home',
  components: {
    HeaderBar,
    TodoFormCreation,
    TodoList
  },
  setup () {
    const todoList = ref<Task[]>([])
    function addTask (task:Task) {
      todoList.value.push(task)
    }
    provide('todoList', todoList)
    return {
      addTask
    }
  }
})
</script>
<style>
.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}
.container{
  margin-left:auto;
  margin-right:auto;
}
</style>
