<template>
  <div class="header">
    <span>Tache en cours {{ countTask }}</span>
  </div>
</template>
<script lang="ts">
import { defineComponent, inject, computed, Ref } from 'vue'
import { Task } from '@/models/Task'
export default defineComponent({
  name: 'headerBar',
  setup () {
    const todolist: Ref<Task[]> | undefined = inject('todoList')
    const countTask = computed(() => {
      const test = todolist?.value
      return test?.filter(item => item.closed === false).length
    })
    return {
      countTask
    }
  }
})
</script>

<style scoped>
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: var(--primary-font-size);
}
</style>
