<template>
  <div class="todo-form-creation" >
    <form @submit.prevent="emitTask">
      <input type="text" id="todo-form-input" v-model="task" />
      <button type="submit" id="todo-form-btn">Ajouter</button>
    </form>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'todoFormCreation',
  setup (_, context) {
    const task = ref('')
    function emitTask () {
      context.emit('emitTask', { title: task.value, closed: false })
      task.value = ''
    }
    return {
      task,
      emitTask
    }
  }
})
</script>

<style scoped>
.todo-form-creation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: var(--form-height);
  color: var(--text-color);
  font-size: var(--primary-font-size);
}
input {
  height: var(--input-height);
  border: none;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: var(--primary-font-size);
  margin-right: var(--space-l);
}
input:focus {
  outline: 0;
}
button {
  border: none;
  background-color: var(--green-color);
  height: var(--button-height);
  color: var(--text-color);
  font-size: var(--secondary-font-size);
}
button:focus {
  outline: 0;
}
button:hover {
  background-color: var(--green-color-hover);
  cursor: pointer;
}
</style>
