<template>
  <div class="todo-list">
    <div
      class="item"
      :class="item.closed ? 'closed' : ''"
      v-for="item in todolist"
      :key="item"
    >
      <span>- {{ item.title }} </span>
      <button
        @click="close(item)"
        :disabled="item.closed"
        :class="item.closed ? 'disabled' : ''"
      >
        Terminer
      </button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, inject } from 'vue'
import { Task } from '@/models/Task'
export default defineComponent({
  name: 'todoFormCreation',
  setup () {
    const todolist = inject<Task[]>('todoList')
    // eslint-disable-next-line
    const close = function(item: any) {
      item.closed = true
    }
    return {
      todolist,
      close
    }
  }
})
</script>

<style scoped>
.todo-list {
  text-align: left;
  padding: var(--space-m);
  font-size: var(--primary-font-size);
}
button {
  border: none;
  background-color: var(--green-color);
  height: var(--button-height);
  color: var(--text-color);
  font-size: var(--secondary-font-size);
}
button:focus {
  outline: 0;
}
button:hover {
  background-color: var(--green-color-hover);
  cursor: pointer;
}
.item {
  display: flex;
  justify-content: space-between;
}
.closed span {
  text-decoration: line-through;
}
.disabled {
  background-color: var(--grey-color);
}
.disabled:hover {
  background-color: var(--grey-color);
}
</style>
